---
import Layout from '@/layouts/Layout.astro';
import { ResetPasswordForm } from '@/components/auth/ResetPasswordForm';
import { Toaster } from '@/components/ui/sonner';
---

<Layout title="Reset Password - 10X Cards">
  <main class="container mx-auto px-4 py-8">
    <ResetPasswordForm client:load />
    <Toaster client:load />
  </main>
</Layout> 